# LAB 3 - Làm sạch dữ liệu cơ bản

## 1. Tạo dữ liệu

In [ ]:
import pandas as pd

data = {
"id" : [1, 2, 3, 4, 5], 
"name" : ["Anh", "Em", "Phong", "Phú", None],
"age" : [15, 14, 18, 28, 50],
"email" : ["anh.anh@vlu.edu.vn", "em@gmail.com", "phong@vanlanguni.vn", "phu@yahoo.com", None],
"salary" : [None, 70000, 10000, 25000, 15000]
}

df = pd.DataFrame(data)
print(df)

In [ ]:
# Lấy 5 dòng đầu tiên:
df.head()

In [ ]:
# Kiểm tra dữ liệu còn thiếu:
df.isnull().sum()

In [ ]:
# Điền giá trị thiếu bằng gia trị trung bình cho côt salary:
df["salary"].fillna(df["salary"].mean(), inplace = True)

In [ ]:
# Điền giá trị thiếu bằng Unknow cho cột "name" và cột "email"
df["name"].fillna("Unknow", inplace = True)
df["email"].fillna("Unknow", inplace = True)

In [ ]:
# Kiểm tra lại dữ liệu thiếu:
df.isnull().sum()

In [ ]:
df.head()

In [ ]:
# Loại bỏ dữ liệu trùng lặp:
df.drop_duplicates(inplace = True)

df

In [ ]:
# Chuẩn hoá cột "name" bằng cách viết hoa chữ cái đầu:
df["name"] = df["name"].str.title() 

# Chuẩn hoá cột "email" bằng cách chuyển về chữ thường:
df["email"] = df["email"].str.lower()

df

In [ ]:
# Lưu dữ liệu đã làm sạch:
df.to_csv("Dulieulamsach.csv", index = False)

# Bài tập về nhà

### Cho dữ liệu dirty_data.csv 
1. Kiểm tra dữ liệu bị thiếu:
    - Kiểm tra các cột có dữ liệu thiếu
    - Điền giá trị phù hợp hoặc loại bỏ các hàng có quá nhiều dữ liệu thiếu
2. Phát hiện và sửa lỗi các dữ liệu bất thường:
    - Tìm các giá trị bất thường trong cột tuổi(age) có thể là âm hoặc quá lớn
    - Kiểm tra cột thu nhập(income) để phát hiện dữ liệu sai
3. Chuẩn hoá dạng dữ liệu:
    - Chuyển đổi cột ngày sinh về dạng chuẩn yyyy-mm-dd
    - Chuẩn hoá dữ liệu trong cột giới tính(gender) để chỉ có hai giới tính hợp lệ "Male" và "Female"
4. Xoá bỏ dữ liệu trùng lặp: 
    - Xác định và xoá các bảng ghi trùng lặp dựa trên thông tin khách hàng
5. Xuất dữ liệu làm sạch:
    - Lưu tập dữ liệu đã làm sạch thành tệp mới clean_data.csv

In [1]:
import pandas as pd

df = pd.read_csv("dirty_data.csv")

# Kiểm tra các cột có dữ liệu thiếu:
check = df.isnull().sum()

print(check)
df

customer_id    0
name           0
age            1
gender         0
dob            0
income         1
email          0
dtype: int64

,customer_id,name,age,gender,dob,income,email
0,101,Nguyen Van A,25.0,Male,1998-05-22,1200,a@example.com
1,102,Tran Thi B,42.0,Female,1981-07-14,4500,b@example.com
2,103,Le Van C,-5.0,male,12/03/1995,3200,c@example.com
3,104,Hoang Minh D,150.0,F,1980/08/25,-500,d@example.com
4,105,Pham Thi E,30.0,Fem,1993-09-30,NaN,e@example.com
5,106,Nguyen Van F,NaN,M,1996-11-02,2500,f@example.com
6,107,Bui Thi G,29.0,Female,1994/06/15,3800,g@example.com
7,108,Dang Van H,40.0,f,1990-01-29,4200,h@example.com
8,109,Vo Thi I,27.0,Male,1995-04-10,3900,i@example.com
9,110,Phan Van J,22.0,unknown,1999-12-20,unknown,j@example.com
10,110,Phan Van J,22.0,Male,1999-12-20,3900,j@example.com

In [4]:
#Loại bỏ các hàng có nhiều dữ liệu bị thiếu
df.dropna(thresh = len(df.columns) - 3, inplace = True)

In [5]:
#Tìm giá trị bất thường của cột "age"
print(df["age"].describe())

#Sửa giá trị bất thường cột "age"
df["age"] = df["age"].apply(lambda x: x if 0 <= x <= 100 else df["age"].mean())

count     10.000000
mean      38.200000
std       41.311284
min       -5.000000
25%       22.750000
50%       28.000000
75%       37.500000
max      150.000000
Name: age, dtype: float64

In [6]:
#Kiểm trra cột "income"
print(df["income"].describe())

#Sửa giá trị bất thường cột "income"
df = df[df["income"] >= 0]

count       10
unique       9
top       3900
freq         2
Name: income, dtype: object

TypeError: '>=' not supported between instances of 'str' and 'int'

In [7]:
#Chuyển đổi cột ngày sinh về dạng chuẩn 
df["dob"] = pd.to_datetime(df["dob"], errors = "coerce").dt.strftime("%Y-%m-%d")

In [8]:
#Chuẩn hoá dữ liệu cột giới tính
df["gender"] = df["gender"].str.lower().str.strip()
df["gender"] = df["gender"].apply(lambda x: "Male" if x == "male" else "Female" if x == "female" else None)

In [9]:
#Loại bỏ dữ liệu bị trùng lặp
df.drop_duplicates(inplace = True)

In [10]:
#Xuất và lưu dữ liệu đã làm sạch
df.to_csv("clean_data.csv", index = False)